<h1>Create an Activity!</h1>

@model EntityProject.Models.ActivityViewModel

<form asp-controller="Dashboard" asp-action="CreateActivity" method="post">
    <label asp-for="Title"></label>
    <input asp-for="Title" />
    <span asp-validation-for="Title"></span>
    <br>
    <label asp-for="Time"></label>
    <input asp-for="Time" />
    <span asp-validation-for="Time"></span>
    <br>
    <label asp-for="Date"></label>
    <input asp-for="Date" />
    <span asp-validation-for="Date"></span>
    <br>
    <label asp-for="Duration"></label>
    <input asp-for="Duration" />
    <span asp-validation-for="Duration"></span>
    <select asp-for="Units">
        <option value=60>Hours</option>
        <option value=1440>Days</option>
        <option value=1>Minutes</option>
    </select>
    <span asp-validation-for="Units"></span>
    <br>
    <label asp-for="Address"></label>
    <input asp-for="Address" />
    <span asp-validation-for="Address"></span>
    <br>
    <label asp-for="Description"></label>
    <br>
    <textarea asp-for="Description" id="" cols="300" rows="5"></textarea>
    <span asp-validation-for="Description"></span>
    <br>
    <button>Create Activity</button>
</form>